.food-search-bar {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  z-index: 1;
}
.food-container {
  overflow: scroll;
  padding-bottom: 4em;
}
.food-display {
  overflow: hidden;
  height:100vh;
  margin-top: -4em;
  padding-top: 4em;
}
.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.corner {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: #000; /* Set the bg image here. with "no-repeat" */
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}